<h1>Welcome!</h1>
<%= link_to "ToDo List", todos_path %>rails db:
  
<p style="color: green"><%= notice %></p>

  <h1>Posts index - HI</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>    
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
  